/* MOBILE STLYES HERE */

@media(max-width: 980px) {
  .Home-content .itemContainer {
    flex-direction: column;
    width: 45%;
    text-align: center;
  }

  .Home-content .itemContainer .itemContainer__left {
    width: 100%;
  }
  .Home-content .itemContainer .itemContainer__left h2 {
    font-size: 1.5rem;
  }

  .Home-content .itemContainer .itemContainer__right {
    width: 100%;
  }
}

@media(max-width: 767px) {
  .Home-content .itemContainer {
    width: 40%;
  }
}
